Question 1:

In [2]:
2+5

7

This expression produces addition

In [3]:
2 + 5

7

This expression also produces addition, just with some fun white space

In [4]:
2*5

10

This expression produces multiplication

In [5]:
2/5

0.4

This expression produces division

In [6]:
2**5

32

This expression produces a "to the power of" equation --> the double star means to the power of

Question 2:

In [7]:
x = 7
print(x)

7

In [8]:
x = x + 3
print(x)

10

The value of x increased to 10. In python, assignment matters more than logical mathematic reasoning, and so in the equation x = x + 3, x takes on the value of what it previously was plus 3. In other words its new assignment is that to the right of the equal sign.

Question 3:

In [11]:
x = 3
print(x)

3

In [12]:
y = x
print(x, y)

3 3

In [13]:
x = 10
print(x, y)

10 3

The value of x is 10 and the value of y is 3. This is because the assignment of the variables is according to the most recent command, so to speak, and in this case that most recent command was to assign x to 10, and y simply remained the number it has previously been assigned to, which in this case was 3. The assignment again is what matters more than the equation y = x, as in python that is already a thing of the past, just an old method to assign the variables in the first place, but not a consistant rule that must be followed.

Question 4:

In [14]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

This code does run without error! I must say I was a bit surprised as I was unsure how the addition of two strings would go. However, it makes sense now that the code as run. Numbers and strings are different types so they can only interact with eachother. This code worked fine because the numbers were only being 'mathed' with eachother, and same with the string. It's cool.

Question 5:

In [15]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Of course this runs with error! x and y are different types, they cannot be added together. Silly.

Question 6:

In [16]:
x = 3
y = 24
z = y / x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

This code does run without error.

Question 7:

In [17]:
x = 3
y = '24'
z = y / x
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Yiiikes, here we do in fact see an error! Of course we do though. We attempted to divide a string by a number (or an integer, however you prefer to call it), which does not work because they are different types.

Question 8:

In [18]:
x = "I am a #string" #Woah, a string!

In [19]:
x

'I am a #string'

This produces a string! Outside of the quotes and after the #, we have also created a comment, but the comment is private just for us so it does not show when we print x.

Question 9:

In [21]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

Ah ha! Here the code is error-free yet again. We have created two lists, and then added them, producing the ourput shown above.

Question 10:

In [22]:
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

Uh oh my friend. Here we have another case of trying to perform mathematical equations with two variables of different types.

Question 11:

In [23]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']
print(x1, x2, x3, x4, x5)

12 12.0 12.0 [12] [12, 12.0, '12.0']

Question 12:

In [25]:
type(42)

int

In [26]:
type(42.0)

float

In [27]:
type('42.0')

str

In [28]:
type("42.0")

str

In [29]:
type("""42.0""")

str

In [31]:
type([1, 2])

list

In [32]:
type([1] + [2])

list

In [33]:
type(1 + 2)

int

In [34]:
type(print)

builtin_function_or_method

int = integer = number data types stored as numerical values

float = floating point real value = real numbers with decimal

str = string = unchangable constructed variable

list = data structure that is changable and ordered

builtin_function_or_method = built in function in python

Question 13:

In [35]:
type(float(str(int('1234'))))

float

The type of this guy here got changed from a string to an integer to a float, and so when asked what type he/she was, python buddy here told me that he/she was a float.

Question 14:

In [36]:
type(int(float('12.34')))

int

Same as above, string friend here turned to a float and then an integer and python was just letting us know this.

Question 15:

In [37]:
len([1234])

1

In [38]:
len("1234")

4

In [39]:
len(1234)

TypeError: object of type 'int' has no len()

Len = lenght 

With that in mind we can see in the first function python returned 1 because there is 1 object in the list. 

In the second function it returned 4 because there are 4 characters in the string.

Thirdly we recieved an error because how do you measure the length of an integer?

Question 16:

In [40]:
x = []

In [41]:
type(x)

list

In [42]:
len(x)

0

Question 17:

In [43]:
x = 'abcde'

In [55]:
list(str(x))

['1', '2', '3', '4']

In [45]:
print(x)

abcde

Question 18:

a.

In [52]:
x = 1234
float(x)

1234.0

b.

In [47]:
str(x)

'1234'

c.

In [51]:
type(x)

int

In [53]:
list(str(x))

['1', '2', '3', '4']

Question 19:

In [56]:
x = "luke, i am your father"

In [62]:
x.title()

'Luke, I Am Your Father'

#KillinIt!

Question 20:

In [63]:
x = "How many characters and words are in this strng?"

a.

In [64]:
len(x)

48

b.

In [67]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'n',
 'g',
 '?']

c.

In [71]:
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'strng?']

d.

In [72]:
len(x.split())

9

Question 21:

I would say about an hour and a half? Give or take somewhere in that time frame.